:root {
    --white: #f0f0f0;
    --black: #0a0a0a;
    --primary: #F1592A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    /* height: 4000px; */
    font-family: 'Poppins';
}

/* Parallax */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    transform: translateY(0);
}

/* <=========== HERO ==========> */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.hero-img {
    width: 250px;
    margin-bottom: 1rem;
}

.hero-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 1rem;
}

.hero-desc {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .8);
}

.hero-btn {
    margin-top: 4rem;
    padding: .4rem 2.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    transition: all .2s;
}
.hero-btn:hover {
    background-color: transparent;
    border: 2px solid var(--white);
}


/* <=========== NAVBAR ==========> */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 6%;
    background-color: rgba(250, 250, 250, 0.5);
    border-bottom: 1px solid var(--primary);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.navbar .navbar-logo {
    margin-top: .4rem;
}

.navbar .navbar-nav a {
    color: var(--text);
    display: inline-block;
    margin: 0 1rem;
    font-size: 1rem;
    transition: .1s linear;
    padding-top: .2rem;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    border-bottom: .05rem solid var(--primary);
    transform: scaleX(0);
    transition: .2s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(.5);
}

.navbar .navbar-extra a {
    color: var(--text);
    margin: 0 .5rem;
    transition: .2s linear;
}
.navbar .navbar-extra a:hover {
    color: var(--primary);
}
#hamburger-menu {
    display: none;
}

.active-link {
    color: var(--primary) !important;
}


/* <=========== ABOUT US ==========> */
.about,
.services {
    padding: 5rem 6%;
}
.about-title,
.services-title,
.testi-title,
.team-title,
.contact-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.about-title::after,
.services-title::after,
.testi-title::after,
.team-title::after,
.contact-title::after {
    content: '';
    display: block;
    min-width: 3rem;
    max-width: fit-content;
    margin: .5rem auto;
    border-bottom: 2px solid var(--primary);
    border-radius: 2rem;
}

.about-text,
.services-text,
.testi-text,
.team-text,
.contact-text {
    text-align: center;
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.about-container {
    display: flex;
    gap: 5rem;
}
.about-container img {
    max-height: 320px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .3);
}

.about-desc h3 {
    font-size: 1.8rem;
    font-weight: 500;
}
.about-desc p {
    margin: 1rem 0;
    font-size: .9rem;
    
}

/* <=========== COMPANY VALUE ==========> */
.services,
.testi,
.team,
.contact {
    background-image: url(img/5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.services-container,
.testi-container,
.team-container,
.contact-container {
    padding: 5rem 6% 7rem;
    background-color: rgba(255, 255, 255, .8);
    min-height: max-content;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 .6rem;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.service i {
    font-size: 1.5rem;
}
.service i::before {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: .65rem;
    border-radius: 50%;
    color: var(--white);
    transition: all .4s;
}
.service:hover i::before {
    background-color: var(--white);
    color: var(--primary);
}

.service-desc h4 {
    font-weight:600;
    margin-bottom: .5rem;
}
.service-desc p {
    font-weight: 300;
    font-size: .9rem;
}


/* <=========== VIEW SITE ==========> */
.view {
    background-image: url(img/1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.view-container {
    background-color: rgba(0, 0, 0, .7);
    padding: 4rem 6%;
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.view-title {
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.view-btn {
    margin-left: auto;
    margin-right: 5rem;
    color: var(--white);
    padding: .6rem 2.5rem;
    border: 2px solid var(--white);
    border-radius: 4px;
    text-transform: uppercase;
    transition: all .4s;
}
.view-btn:hover {
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

.view-btn i {
    margin-left: .5rem;
    font-size: 1.2rem;
}


/* <=========== TESTIMONIALS ==========> */
.testi {
    background-image: url(img/1.jpg);
}

.testi-list {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.testi-list.reverse {
    flex-direction: row-reverse;
}

.testi-profile img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .2);
    transition: all .3s;
}
.testi-profile img:hover {
    transform: scale(1.02);
}

.testi-name {
    text-align: center;
    color: #282828;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.testi-desc {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    transform: translateY(-1.2rem);
}


/* <=========== TEAM ==========> */
.team {
    background-image: url(img/3.jpg);
}

.team-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.team-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373737
}

.team-profile img {
    width: 200px;
    border-radius: 3px;
    transform: translateY(0);
    transition: all .3s;
}
.team-profile img:hover {
    transform: translateY(-.2rem);
}

.profile-name {
    font-size: .9rem;
    margin-top: 1.2rem;
}
.team-profile span {
    font-size: .8rem;
}

.profile-sosmed {
    margin-top: .8rem;
    font-size: 1.3rem;
}
.profile-sosmed a {
    color: #373737;
    transition: all .2s;
}
.profile-sosmed a:hover {
    color: var(--primary);
}


/* <=========== CONTACT ==========> */
.contact {
    background-image: url(img/4.jpg);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(204, 204, 204, 0.1);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.875);
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    gap: .5rem;
}

.contact-group {
    display: flex;
    gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    padding: .5rem .8rem;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .1);
    border: none;
    font-size: 1rem;
}

.contact-form textarea {
    min-width: 100%;
    height: 7rem;
    resize: none;
    font-family: 'Poppins';
}

.contact-button {
    background-color: var(--primary);
    color: var(--white);
    padding: .6rem 2rem;
    /* margin-top: 1rem; */
    border-radius: 5px;
    cursor: pointer;
}

.contact-message {
    font-size: .7rem;
    margin-right: auto;
    padding: 0 .5rem;
}


footer {
    background-color: rgb(241, 241, 241);
    backdrop-filter: blur(5px);
    padding: 2rem 6% 0;
    box-shadow: 0 0px 7px rgba(0, 0, 0, .1);
}

footer .container {
    min-width: 100%;
    padding: 0;
    margin: 0;
}

footer .container .footer-content {
    display: flex;
    gap: 3rem;
    position: relative;
}
footer .container .footer-content::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    bottom: 0;
}

footer .container .description {
    width: 50%;
    padding-right: 2rem;
}
footer .container .description img {
    height: 4rem;
}
footer .container .description p {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    text-align: justify;
    margin-top: 1rem;
}
footer .container .description .noHp {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer .container .content {
    margin-left: auto;
    width: 50%;
}
footer .container .content .links {
    display: flex;
    justify-content: space-between;
}
footer .container .content .links .sitemap,
footer .container .content .links .other,
footer .container .content .links .sitemap,
footer .container .content .links .follow {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap: .6rem;
}
footer .container .content .links h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
footer .container .content .links a {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
}

footer .container .content .links .follow .sosmed-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
footer .container .content .links .follow .sosmed-logo a {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
footer .container .content .links .follow .sosmed-logo a:hover {
    color: var(--primary);
}

footer .container .copyright {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 2rem 0 .5rem;
}
footer .container .copyright h3 {
    font-size: .8rem;
    margin-right: 1rem;
    margin-bottom: 0;
    font-weight: 500;
}
footer .container .copyright a {
    text-decoration: none;
    color: var(--text);
    font-size: .8rem;
    margin: 0 .5rem;
}
footer .container .copyright span {
    font-size: .8rem;
    font-weight: 200;
}




/* <====================== Query =====================> */
@media (max-width:768px) {
    html {
        font-size: 78%;
    }

    #hamburger-menu {
        display: inline-block;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 102%;
        right: 0;
        background-color: #fff;
        width: 23rem;
        height: 100vh;
        transform: scaleX(0);
        transform-origin: right;
        box-shadow: -1px 2px 5px rgba(0, 0, 0, .3);
        transition: .4s;
    }

    .navbar .navbar-nav a {
        color: var(--text);
        display: block;
        margin: .8rem 1.2rem;
        padding: .8rem;
        font-size: 1.3rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(.15);
    }

    .navbar .navbar-nav.active {
        transform: scaleX(100%);
    }

    .about {
        padding: 7rem 6%;
    }

    .services-container,
    .testi-container,
    .team-container,
    .contact-container {
        padding: 7rem 6%;
    }


    .about-text,
    .services-text,
    .testi-text,
    .team-text,
    .contact-text {
        font-size: 1.1rem;
    }


    .about-container {
        flex-direction: column;
        gap: 2rem;
    }

    .about-container img {
        max-height: 400px;
    }

    .about-desc p {
        font-size: 1.1rem;
    }

    .services-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .view-content {
        width: 60%;
    }

    .testi-list {
        margin-bottom: 1rem;
        gap: 2rem;
    }
    .testi-profile img {
        width: 150px;
    }

    .testi-desc {
        padding: 1rem 2rem;
        font-size: 1rem;
    }


    .team-content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
    .team-profile img {
        width: 260px;
    }

    .profile-name {
        font-size: 1.6rem;
    }
    .team-profile span {
        font-size: 1.2rem;
    }

    .profile-sosmed {
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }


    .contact-form input,
    .contact-form textarea {
        font-size: 1.1rem;
        padding: .8rem;
    }
    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        font-size: 1rem;
    }

    .contact-message {
        font-size: .9rem;
        margin: .3rem;
    }


    footer .container {
        width: 100%;
    }
    footer .footer-content {
        flex-wrap: wrap;
        gap: 2rem !important;
    }
    footer .footer-content .description {
        width: 100%;
    }
    footer .footer-content .content {
        margin-left: 0;
        width: 100%;
    }
    footer .container .content .links {
        justify-content: flex-start;
        gap: 2.5rem;
    }

    footer .container .description .noHp {
        justify-content: flex-start;
    }

}

@media (max-width: 540px) {
    html {
        font-size: 65%;
    }

    .navbar-brand img {
        width: 90px;
        margin: .3rem .7rem;
    }
    .offcanvas-title img {
        width: 120px;
        margin: .2rem;
    }

    .navbar-nav {
        font-size: 1.4rem;
    }


    .services-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        font-size: 1.2rem;
    }

    .service-desc p {
        font-size: 1rem;
    }

    .view-container {
        flex-direction: column;
        padding: 2rem 6%;
    }

    .view-content {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .view-btn {
        margin: auto;
    }


    .testi-list {
        margin-bottom: 3rem;
        gap: 2rem;
    }
    .testi-list.reverse {
        margin-bottom: 0;
    }


    .contact-group {
        flex-direction: column;
        min-width: 100%;
        gap: .8rem;
    }
    .contact-form {
        min-width: 100%;
        gap: .8rem;
    }


    footer .footer-content .description p {
        font-size: 1.1rem !important;
        font-weight: 500;
    }

    footer .copyright {
        flex-direction: column;
        margin-top: 1rem !important;
    }

    footer .copyright h3, footer .copyright a {
        font-size: 1rem !important;
    }
}